html {
    overflow: hidden;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.bucket {   /* PAGE CONTAINER */
    padding: 0px 40px;
    width: 80%;
    margin: 12em auto;
    border: 2px solid #426BFB;
    border-radius: 2px;
}

#return-button {
    text-align: center;

    margin: 15px auto;
    border-radius: 2px;
    height: 40px;
    width: 150px;

    outline: none;
    background-color: #426BFB;
    color: #fff;
    cursor: pointer;
    border: 1px solid #426BFB;
}

#return-button:hover {
    background-color: #fff;
    color: #426BFB;
}

/* PLANTS */
.plants {
    z-index: -99;
    white-space: nowrap;
}

.magenta {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    height: 45em;
    width: auto;
    position: absolute;
    margin: -780px 800px 0;
}

.evergreen {
    position: absolute;
    height: 35em;
    margin: 40px 0px;
    width: auto;
}