@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background-color: #222;
    color: #F3F0EF;

    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

/* HEADER */
.intro-header-container {
    width: 85%;
    display: table;
    min-height: 100vh;
    margin: 0 auto;
}

/* .intro-header {
    min-height: 100vh;
    justify-content: center;
    display: flex;
}

.intro-header img {
    width: auto;
    height: 30%;
} */

.intro-header-container h1 {
    font-size: 10vw;
    font-weight: 900;
    display: table-cell;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
}

/* LEAF DECORATIONS */
.solid_leaf_mobile {
    width: 25vh;
    position: absolute;
    left: 80%;
    transform: rotate(230deg);
    top: 0%;
    z-index: 100;
    }

.leaf_bunch {
    width: 110vh;
    position: absolute;
    left: -19%;
    top: 45%;
    z-index: 100;
}

.floating_leaf_bunch {
    width: 110vh;
    position: absolute;
    z-index: 100;
    left: 46%;
}
