body {
    font-family: 'Sarabun', sans-serif;
    overflow-x: hidden;
    pointer-events: auto;
}

/* LEAF DECORATIONS */
    .l-home {
        z-index: -1;
        display: block;
        height: 63.58em;
        width: 40.625em;
        position: relative;
        margin: -7.2em auto -35em;
        padding: 0;
    }

    .l-nav {
        height: 41.256875em;
        width: 8.009375em;
        position: relative;
        z-index: -2;
        margin-top: -31em;
        margin-bottom: 0px;
    }

/* PROJECT UPDATES SECTION */
    .s-latest {
        background: linear-gradient(-45deg, #C9DBD7, #92b0aa);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .s-latest p {
        color: #000;
        font-size: 14px;
    }

    @keyframes gradient {   /* gradient background for latest section */
        0% {
            background-position: 0% 50%;
        } 50% {
            background-position: 100% 50%;
        } 100% {
            background-position: 0% 50%;
        }
    }

    .sub-RP {   /* project updates header */
        color: #26403A;
        font-family: sans-serif;
        /* top | right | bottom | left */
        font-weight: 900;
        margin-left: 100px;
    }

    .t-row:hover {
        background: rgba(146, 176, 170, 0.62); /* #92B0AA w/ opacity --> 62% */
    }

    .table-toprow {
        border-top: none;
    }

    .table-bottomrow {
        border-bottom: none;
    }

    table {
        font-family: 'Source Sans Pro', sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin: 0px auto;
        font-size: 1.2em;
    }

    tr {
        border-bottom: 1px solid #BCCECA; /* #B2C4C0 == #92B0AA w/ opacity --> 62% */
        text-align: left;
        padding: 1em 0.2em;
        cursor: pointer;

    }

    td {
        text-align: left;
        padding: 1em 0.2em;
        border-radius: 2px;
    }

    tr:hover {
        background: rgba(146, 176, 170, 0.62); /* #92B0AA w/ opacity --> 62% */
    }

    .ico {  /* individual project icon resizing*/
        width: 35px;
        height: 35px;
    }

    .btn-new {
        outline: none;
        padding: 4px 10px;
        border: 1px dashed #99845B;
        font-size: 14px;
        border-radius: 2px;
        background-color: rgba(255, 220, 152, 0.72);
        color: #99845B;
    }

    .btn-new:active {
        border: 1px dashed #99845B;
    }

/* QUOTE SECTION */   
    quote {
        font-size: 1em;
    }

    quote::before {
        content: "\201C";
    } quote::after {
        content: "\201D";
    }

    ins {
        color: rgba(132, 175, 155, 0.75);
        cursor: pointer;
        position: relative;
        text-decoration: none;
    }

    ins::before {
        content: "(hex)";
        font-size: 0.6em;
        display: block;
        pointer-events: none;
        position: absolute;
        color: #659b82;
        transition: all 500ms ease;
        top: -2em;
        left: 0.3em;
        opacity: 0;
    }

    ins:hover del {
        max-width: 9em;
    }

    ins:hover::before {
        opacity: 1;
        top: -1.2em;
    }

    ins del {
        color: #426BFB;
        text-decoration: none;
        display: inline-block;
        vertical-align: bottom;
        overflow: hidden;
        transition: all 500ms ease;
        max-width: 0;
    }

    ins del::before {
        content: "\00a0";
        visibility: hidden;
    }

    .quote-box {
        width: 100%;
        text-align: center;
        margin: 2em 0px;
    }
