@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: #222;
    color: #F3F0EF;

    position: relative;
    z-index: 1;
    overflow:hidden;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

/* HEADER */
.intro-header-container {
    width: 85%;
    display: table;
    min-height: 100vh;
    margin: 0 auto;
}

.intro-header-container h1 {
    font-size: 10vw;
    font-weight: 900;
    display: table-cell;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
}

/* @media screen and (max-width: 424px) {
    .evergreen, .sylvia, .cynth {
        filter: blur(2px);
    }
}

@media screen and (min-width: 425px) {
    .evergreen, .sylvia, .cynth {
        filter: blur(4px);
    }
} */

/* LEAF DECORATIONS */
.flora {
    overflow: hidden;
    object-fit: contain;
    height: auto;
}

.evergreen {
    width: 40vh;
    position: absolute;
    left: -7%;
    top: 48vh;
    z-index: -1;
    --animate-duration: 1.5s;
}

.sylvia {
    width: 155vh;
    position: absolute;
    left: 90vh;
    top: 5vh;
    z-index: -1;
    --animate-duration: 1.5s;
}

@media (min-width: 993px) {
    .cynth {
        display:none!important;
    }
}

.cynth {
    width: 60vh;
    position: absolute;
    left: 0;
    top: -62vh;
    z-index: -1;
    --animate-duration: 1.5s;
}

.cynth_2 {
    width: 120vh;
    position: absolute;
    left: 32vh;
    top: -69vh;
    z-index: -1;
    --animate-duration: 1.5s;
}

.cynth_outline {
    width: 190vh;
    position: absolute;
    left: 90vh;
    top: 20vh;
    z-index: -1;
    --animate-duration: 1.5s;
}

.poppy {
    width: 40vh;
    position: absolute;
    left: 120vh;
    top: 76vh;
    z-index: -1;
    --animate-duration: 1.5s;
}

.grass {
    width: 40vh;
    position: absolute;
    left: 40vh;
    top: 82vh;
    z-index: -1;
    --animate-duration: 1.5s;
}

.spikey {
    width: 80vh;
    position: absolute;
    left: -30vh;
    top: -35vh;
}