html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}

body {
    background-color: #ffffff;  
}
/* PROJECTS CONTENT LISTING SECTION */
    .w-body {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF;
        min-height: 81.5vh;
    }

    tr {
        border-bottom: 1px solid #ECECEC;
        text-align: left;
        padding: 1em 0.2em;
        background: #FFF;
        cursor: pointer;
    }
    
    td {
        text-align: left;
        padding: 1em 0.2em;
        border-radius: 1px;
    }
    
    .tr-last {
        border-bottom: none;
    }
    
    tr:hover {
        background: #F2F2F2;
    }
    
    .ico {
        width: 35px;
        height: 35px;
    }
    
    .btn-new {
        outline: none;
        padding: 4px 10px;
        border: 1px dashed #99845B;
        font-size: 14px;
        border-radius: 2px;
        background-color: rgba(255, 220, 152, 0.72);
        color: #99845B;
    }
    
    .btn-new:active {
        border: 1px dashed #99845B;
    }
    
    .hover-green01:hover{
        color: #fff;
        background-color: #44A08D;
    }
    
    * {
        box-sizing: border-box;
    }

    #tableID {
        font-family: 'Source Sans Pro', sans-serif;
        border-collapse: collapse;
        width: 90%;
    
        /* top | right | bottom | left */
        margin: 0px 0px 20px 0px;
        font-size: 1.2em;
    }

/* PROJECTS NAVIGATION */
    .n-projects {
        position: relative;
        z-index: 100;
    }

/* PROJECTS TITLE */
    .t-projects {
        font-size: 45px;
        font-family: sans-serif;
        margin-left: -15px;
        font-weight: 600;
        margin-top: 50px
    }

#searchinput {
    background: #FFF;
    width: 100%;
    font-size: 12px;
    padding: 12px 20px 10px 30px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    color: #000;
    outline: none;
}

/* PROJECTS FOOTER */
    .f-projects {
        width: 100%;
        position: fixed; /* places footer at bottom of page */
        bottom: 0; /* places footer at bottom of page */
        left: 0px; /* places footer at bottom of page */
    }

.space {
    margin-bottom: 30px;
    background-color: #FFF;
}