.interactive {
    margin-top: 16px;
    margin-left:auto;
    margin-right:auto
}

.green01 {
    color: #44A08D;
}

.green01-bc {
    background-color: #44A08D;
}

.topic {
    color: #5C5C5C;
    font-family: 'Sarabun', sans-serif;
}

.indent {
    margin-left: 50px;
}

.pull-top {
    margin-top: -18px;
}

.pull-top-date {
    margin-top: -12px;
}

.rounder {
    border-radius: 7px;
}

button {
    outline: none;
    text-decoration: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    color: #000;
    font-size: 8px;
    background-color: #B0E1D7;
    border: 2px solid #B0E1D7;
}

button:hover {
    animation: rotate 0.7s ease-in-out both;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    } 25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    } 50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    } 75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    } 100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

body {
    overflow-x: hidden;
}