.button-tags {
    margin-left: 120px;
    background-color: #fff;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 8px 22px; /*resizing buttons*/
    display: inline-block;
    margin-right: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
}

.btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.software {
    background: #8286f5;  /* foreground button color */
    color: #5458bb;   /* font  */
    box-shadow: 0 6px #7478f1;    /* under button color */
}

.software:hover {
    box-shadow: 0 4px #7478f1;   /* under button color */
    top: 2px;
}

.language {
    background: #FF9068;  /* foreground button color */
    color: #BD5B38;   /* font  */
    box-shadow: 0 6px #F27F56;    /* under button color */
}

.language:hover {
    box-shadow: 0 4px #F27F56;   /* under button color */
    top: 2px;
}

.os {
    background: #9FCBC2;  /* foreground button color */
    color: #629288;   /* font  */
    box-shadow: 0 6px #86C3B7;    /* under button color */
}

.os:hover {
    box-shadow: 0 4px #86C3B7;   /* under button color */
    top: 2px;
}