/* GENERAL BUTTON FORMATTING */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 0.5em 1.375em; /*resizing buttons*/
    display: inline-block;
    margin: 0.375em 0.375em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
}

.btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}